{% extends "search/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}
  
{% else %}
    <div></div>
      <h3>Search</h3>
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Search</button>
      </form>
    </div>
    <div>
      <h3>Results</h3>
      <table>
        <tr>
          <th>Service Name</th>
        </tr>
        {% for res in result %}
          <tr>
            <th>{{ res }}</th>
          </tr>
        {% endfor %}
      </table>
    </div>
    {% endif %}    
{% endblock content %}
